:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.897);
  background-color: #020000;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Runescape Bold';
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Runescape Bold';
  src: url(/fonts/runescape_bold.ttf);
  font-display: block;
}

button, input, pre {
  font-family: inherit;
}

a {
  color: cornflowerblue;
}
a:visited {
  color: rgb(106, 67, 248);
}

.btn {
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
  color: #bbb;
  aspect-ratio: unset;
  border-radius: 4px;
  opacity: 0.5;
  height: 35px;
  min-width: 35px;
  font-size: 16px;
  padding: 0 8px;
  
  > input {
    display: none;
  }

  &.active {
    opacity: 0.75;
    color: #fff;
    background-color: #fff1;
    border-color: #888;
    z-index: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.btn-group {
  display: flex;
  :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -0.5px;
  }
  :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.5px;
  }
}