:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.897);
  background-color: #020000;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Runescape Bold';
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Runescape Bold';
  src: url(/fonts/runescape_bold.ttf);
  font-display: block;
}